*{
    /* background-color: darkblue; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* scrollbar/ */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: red; 
}

/* end scrollbar */

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.clear{
    clear: both;
}

.person{
    position: fixed;
    top: 5px;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    padding: 5px 10px;
    left: 42vw;
}

.person:hover{
    background-color: white;
}

.person p{
    margin: 0;
}

.person a{
    text-decoration: none;
    color: white;
}

.person a:hover{
    color: #ff6666;
}

.person a:active{
    color: #66adff;
}

.messages{
    padding: 5px 10px 70px;

}

.message_from_me, .message_to_me{
    margin: 3px;
    width: fit-content;
    border-radius: 10px;
    padding: 2px 15px;
}

.date{
    font-size: 10px;
    position: relative;
}


.message_to_me{
    color: white;
    background-color: #ff6666;
}

.message_from_me{
    float: right;
    background-color: #87cefa;
    color: white;
}

.messages .picture_message{
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.texting_area{
    height: 30px;
    position: fixed;
    bottom: 0;
    margin: 4px 4vw 4px 6vw;
    padding: 5px 0px;
    width: 90vw;
    border-radius: 10px;
}

.texting_area form *{
    float: left;
}

.texting_area #message{
    height: 100%;
    width: 80%;/*  decrease this if you added some features.. tho i doubt that xD */
    border-radius: 10px;
    border: 1px;
}

.texting_area #message:focus{
    width: 90%;
}

.texting_area .text_features{
    height: 100%;
    width: 10%; /* this width + 70% of the text + 10% for the submit */
    display: flex;
    justify-content: center;
}

.texting_area #file_upload{
    display: none;
}


.texting_area .file_picture{
    width: fit-content;
    height: 100%;
}

.texting_area .file_picture label{
    height: 100%;
    width: 30px;
    background-image: url("../images/add_picture_message_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.texting_area .file_picture label:hover{
    cursor: pointer;
}

.texting_area #submit{
    height: 100%;
    width: 10%;
    border-radius: 15px;
    background-color: white;
    border: 0px;
    font-size: 20px;
}

.texting_area #submit:hover{
    background-color: #87cefa;
    color: white;
}

.texting_area #submit:active{
    background-color: #ff6666;
    color: white;
}
/* 404 */

#error{
    color:white;
    width: fit-content;
    margin: auto;
}


/* end 404 */